body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh; 
}

.sidebar-container {
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    padding: 2.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 1001;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #444;
}

.content-container {
    flex-grow: 1; 
    margin-left: 330px; 
    width: calc(100% - 330px);
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width: 768px) {
    .content-container {
        flex-grow: 1; 
        margin-left: 0; 
        width: calc(100% - 0);
}
