* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: whitesmoke;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: royalblue;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: royalblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active {
    color: purple;
}

#home {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;  
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: royalblue;
}

.home-content p {
    font-size: 16px;
    margin: 10px 0 40px;
}

.home-content .btn-box {
    display: flex;
    width: 345px;
    height: 50px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background: transparent;
    border: 2px solid royalblue;
    border-radius: 50px;
    font-size: 19px;
    color: royalblue;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-box a:hover {
    color: white;
    background: royalblue;
}

.home-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 5rem;
    height: 100vh;
}

.image-holder {
    width: 450px;
    height: 450px;
    margin-left: 80px;
    border-radius: 50%;
    padding: 0;
}

#about-me {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
    background: royalblue;
}

.am-cont {
    max-width: 800px;
    background: whitesmoke;
    padding: 70px;
    border-radius: 50px;
}

.am-cont h2 {
    font-size: 32px;
    font-weight: 700;
    color: royalblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.am-cont p {
    font-size: 16px;
    margin: 10px 0 40px;
    text-align: justify;
}

#fave {
    height: 100vh;
    background: black;
    text-align: center;
    padding: 70px 100px;
}

.fave-cont h2 {
    font-size: 32px;
    font-weight: 700;
    color: royalblue;
    margin-top: 2px;
}

.fave-cont p {
    font-size: 16px;
    margin: 10px 0 40px;
    color: white;
    margin-bottom: 1.5rem;
}

.all-pix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 80%;
    height: 80%;
}

.caption {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.title {
    margin-top: 10px;
    font-size: 16px;
    color: royalblue;
}

#extracurr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: whitesmoke;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo-grid img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.act-content {
    position: absolute;
    background-color: royalblue;
    color: white;
    padding: 30px;
    max-width: 600px;
    text-align: center;
    border-radius: 20px;
    z-index: 10;
}

.act-content h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.act-content p {
    font-size: 16px;
}

#footer {
    height: 20vh;
    background: whitesmoke;
    margin: 3rem;
    display: inline-flex;
    justify-content: space-evenly;
}

.foot-content h5 {
    color: royalblue;
    font-size: 20px;
    margin-bottom: 1rem;
}

.foot-content p {
    line-height: 1.5rem;
    margin-right: 50rem;
    width: 100%;
}

.email {
    margin-top: 1.5rem;
}

.email h6 {
    font-size: 14px;
    color: royalblue;
    margin-bottom: .5rem;
}

.email input {
    border-radius: 10px;
    padding: 10px;
}

.foot-content,
.email {
    flex: 1;
}

@media screen and (max-width: 768px) {

    * {
        align-items: center;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        padding-bottom: 20px;
    }

    .home-content h1 {
        font-size: 32px;
        flex-direction: column;
        align-items: center;
    }

    .home-content h3 {
        font-size: 24px;
        flex-direction: column;
        align-items: center;
    }

    .home-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0; 
        order: -1;
        height: 500px;  
    }

    .home-content {
        text-align: center;
        margin: 0;
    }

    .image-holder {
        width: 250px;
        height: 250px;
        margin-left: 0;
    }

    .btn-box {
        flex-direction: column;
        align-items: center;
        max-width: fit-content;
        margin-left: 0;
    }

    #fave {
        padding: 20px 10px;
        height:fit-content;
        overflow: hidden;
    }

    .all-pix {
        grid-template-columns: repeat(1, 1fr);
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #about-me {
        padding: 10px;
    }

    .am-cont {
        padding: 40px;
        height:90vh;
    }

    .am-cont p {
        font-size: 14px;
    }

    .photo-grid {
        padding-top: 100px;
        height: fit-content;
    }

    .photo-grid img {
        width: 150px;
        height: 150px;
    }

    .extracurri {
        overflow: hidden;
    }

    #footer {
        display: block;
        text-align: center;
        margin: 0;
    }

    .foot-content p {
        margin-right: 0;
    }
}